In [1]:
# importing necessary packages
import pandas as pd
import numpy as np

# setting option so that all values in a column in the dataframe can be changed
pd.options.mode.chained_assignment = None

In [2]:
# read in Excel file containing the data as a dataframe
df = pd.read_excel("PreBasketballStats.xlsx", sheet_name="Sheet1")

In [3]:
# rename the column labeled 'Year' to 'Grade' since there is already a column named 'YEAR'
df.rename(columns = {"Year": "Grade"}, inplace=True)

In [5]:
# remove season year from the end of the players' names
for i in range(1989):
    df["PLAYER"][i] = df["PLAYER"][i][:-5]

0               Luka Garza
1                Max Abmas
2            Kendric Davis
3           Cameron Thomas
4               Drew Timme
               ...
1984         Anthony Crump
1985          Kenan Sarvan
1986              Tre Wood
1987       Alexander Perry
1988    Terence Porter Jr.
Name: PLAYER, Length: 1989, dtype: object

In [6]:
# function that takes in the data in the 'Height' column which currently contains the height as both feet and inches
# and converts it into total inches
def calculate_height(x):
    x = str(x)
    feet = int(x[6])
    inches = int(x[8:10])
    return(feet*12)+inches

# replaces the data in the 'Height' column with the newly calculated total height in inches
df["Height"] = df["Height"].apply(calculate_height)

0       83
1       73
2       71
3       76
4       82
        ..
1984    80
1985    82
1986    73
1987    78
1988    80
Name: Height, Length: 1989, dtype: int64

In [7]:
# some of the dunk values were interpreted as dates by Excel, so this sets the ones that are dates to strings 
# that match the rest of the data
for i in range(1989):
    if type(df["DUNKS"][i]) != str:
        y = str(df["DUNKS"][i])
        dunks = y[5:10]
        df["DUNKS"][i] = dunks

0       12-12
1         0-0
2         0-0
3       03-03
4       21-22
        ...
1984    02-03
1985    02-04
1986      0-0
1987      0-0
1988    05-05
Name: DUNKS, Length: 1989, dtype: object

In [8]:
# function that calculates the percentage of dunks made by taking in the information from the 'DUNKS' column that is 
# currently in the format dunks made - dunks attempted
def calculate_dunk_percentage(z):
    vals = z.split('-')
    if int(vals[1]) == 0:
        return 0
    else:
        return int(vals[0])/int(vals[1])

# function that sets the number of dunks made to the first half of the string in the 'DUNKS' column
def set_dunks_made(dunks):
    dunks_split = dunks.split('-')
    return dunks_split[0]  

# function that sets the number of dunks attempted to the second half of the string in the 'DUNKS' column
def set_dunks_attempted(dunks):
    dunks_split = dunks.split('-')
    return dunks_split[1] 

# applies the calculate_dunk_percentage function to all values in the 'DUNKS' column and puts the results in a new
# column called 'Dunk_Percentage'
df["Dunk_Percentage"] = df.DUNKS.apply(calculate_dunk_percentage)

# applies the set_dunks_made function to all values in the 'DUNKS' column and puts the results in a new
# column called 'Dunks_made'
df["Dunks_made"] = df.DUNKS.apply(set_dunks_made)

# applies the set_dunks_attempted function to all values in the 'DUNKS' column and puts the results in a new
# column called 'Dunks_attempted'
df["Dunks_attempted"] = df.DUNKS.apply(set_dunks_attempted)

0       1.000000
1       0.000000
2       0.000000
3       1.000000
4       0.954545
          ...
1984    0.666667
1985    0.500000
1986    0.000000
1987    0.000000
1988    1.000000
Name: Dunk_Percentage, Length: 1989, dtype: float64
0       12
1        0
2        0
3       03
4       21
        ..
1984    02
1985    02
1986     0
1987     0
1988    05
Name: Dunks_made, Length: 1989, dtype: object
0       12
1        0
2        0
3       03
4       22
        ..
1984    03
1985    04
1986     0
1987     0
1988    05
Name: Dunks_attempted, Length: 1989, dtype: object

In [9]:
# some of the 'CLOSE 2' values were interpreted as dates by Excel, so this sets the ones that are dates to strings 
# that match the rest of the data
for i in range(1989):
    if type(df["CLOSE 2"][i]) != str:
        y = str(df["CLOSE 2"][i])
        close_2 = y[5:10]
        df["CLOSE 2"][i] = close_2

#function that sets the number of close 2-pointers made to the first half of the string in the 'CLOSE 2' column
def set_close2_made(close2):
    close2_split = close2.split('-')
    return close2_split[0]  

#function that sets the number of close 2-pointers attempted to the second half of the string in the 'CLOSE 2' column
def set_close2_attempted(close2):
    close2_split = close2.split('-')
    return close2_split[1] 

# applies the set_close2_made function to all values in the 'CLOSE 2' column and puts the results in a new
# column called 'Close2_made'
df["Close2_made"] = df["CLOSE 2"].apply(set_close2_made)
print(df["Close2_made"])

# applies the set_close2_attempted function to all values in the 'CLOSE 2' column and puts the results in a new
# column called 'Close2_attempted'
df["Close2_attempted"] = df["CLOSE 2"].apply(set_close2_attempted)
print(df["Close2_attempted"])

0       176-256
1        65-113
2         56-84
3         52-81
4       192-247
         ...
1984      18-47
1985      07-10
1986      23-53
1987      08-25
1988      16-30
Name: CLOSE 2, Length: 1989, dtype: object
0       176
1        65
2        56
3        52
4       192
       ...
1984     18
1985     07
1986     23
1987     08
1988     16
Name: Close2_made, Length: 1989, dtype: object
0       256
1       113
2        84
3        81
4       247
       ...
1984     47
1985     10
1986     53
1987     25
1988     30
Name: Close2_attempted, Length: 1989, dtype: object

In [10]:
# some of the 'FAR 2' values were interpreted as dates by Excel, so this sets the ones that are dates to strings 
# that match the rest of the data
for i in range(1989):
    if type(df["FAR 2"][i]) != str:
        y = str(df["FAR 2"][i])
        far_2 = y[5:10]
        df["FAR 2"][i] = far_2

#function that sets the number of far 2-pointers made to the first half of the string in the 'FAR 2' column
def set_far2_made(far2):
    far2_split = far2.split('-')
    return far2_split[0]  

# function that sets the number of far 2-pointers attempted to the second half of the string in the 'FAR 2' column
def set_far2_attempted(far2):
    far2_split = far2.split('-')
    return far2_split[1] 

# applies the set_far2_made function to all values in the 'FAR 2' column and puts the results in a new
# column called 'Far2_made'
df["Far2_made"] = df["FAR 2"].apply(set_far2_made)
print(df["Far2_made"])

# applies the set_far2_attempted function to all values in the 'FAR 2' column and puts the results in a new
# column called 'Far2_attempted'
df["Far2_attempted"] = df["FAR 2"].apply(set_far2_attempted)
print(df["Far2_attempted"])

0       60-152
1       54-118
2        33-86
3       83-210
4        39-93
         ...
1984     08-27
1985     01-09
1986     06-29
1987     02-26
1988      0-13
Name: FAR 2, Length: 1989, dtype: object
0       60
1       54
2       33
3       83
4       39
        ..
1984    08
1985    01
1986    06
1987    02
1988     0
Name: Far2_made, Length: 1989, dtype: object
0       152
1       118
2        86
3       210
4        93
       ...
1984     27
1985     09
1986     29
1987     26
1988     13
Name: Far2_attempted, Length: 1989, dtype: object

In [11]:
# some of the 'FT' values were interpreted as dates by Excel, so this sets the ones that are dates to strings 
# that match the rest of the data
for i in range(1989):
    if type(df["FT"][i]) != str:
        y = str(df["FT"][i])
        ft = y[5:10]
        df["FT"][i] = ft

# function that sets the number of free throws made to the first half of the string in the 'FT' column
def set_ft_made(ft):
    ft_split = ft.split('-')
    return ft_split[0]  

# function that sets the number of free throws attempted to the second half of the string in the 'FT' column
def set_ft_attempted(ft):
    ft_split = ft.split('-')
    return ft_split[1] 

# applies the set_ft_made function to all values in the 'FT' column and puts the results in a new
# column called 'FT_made'
df["FT_made"] = df["FT"].apply(set_ft_made)
print(df["FT_made"])

# applies the set_ft_attempted function to all values in the 'FT' column and puts the results in a new
# column called 'FT_attempted'
df["FT_attempted"] = df["FT"].apply(set_ft_attempted)
print(df["FT_attempted"])

0       141-199
1       135-151
2         70-84
3       194-220
4       128-184
         ...
1984      08-23
1985      07-11
1986      09-19
1987      20-38
1988      10-22
Name: FT, Length: 1989, dtype: object
0       141
1       135
2        70
3       194
4       128
       ...
1984     08
1985     07
1986     09
1987     20
1988     10
Name: FT_made, Length: 1989, dtype: object
0       199
1       151
2        84
3       220
4       184
       ...
1984     23
1985     11
1986     19
1987     38
1988     22
Name: FT_attempted, Length: 1989, dtype: object

In [12]:
# some of the '2P' values were interpreted as dates by Excel, so this sets the ones that are dates to strings 
# that match the rest of the data
for i in range(1989):
    if type(df["2P"][i]) != str:
        y = str(df["2P"][i])
        two_p = y[5:10]
        df["2P"][i] = two_p

# function that sets the number of 2-pointers made to the first half of the string in the '2P' column
def set_2P_made(two_p):
    two_p_split = two_p.split('-')
    return two_p_split[0]  

# function that sets the number of 2-pointers attempted to the second half of the string in the '2P' column
def set_2P_attempted(two_p):
    two_p_split = two_p.split('-')
    return two_p_split[1] 

# applies the set_2P_made function to all values in the '2P' column and puts the results in a new
# column called '2P_made'
df["2P_made"] = df["2P"].apply(set_2P_made)
print(df["2P_made"])

# applies the set_2P_attempted function to all values in the '2P' column and puts the results in a new
# column called '2P_attempted'
df["2P_attempted"] = df["2P"].apply(set_2P_attempted)
print(df["2P_attempted"])

0       237-408
1       119-231
2        89-170
3       135-291
4       231-340
         ...
1984      26-74
1985      08-19
1986      29-82
1987      11-01
1988      16-43
Name: 2P, Length: 1989, dtype: object
0       237
1       119
2        89
3       135
4       231
       ...
1984     26
1985     08
1986     29
1987     11
1988     16
Name: 2P_made, Length: 1989, dtype: object
0       408
1       231
2       170
3       291
4       340
       ...
1984     74
1985     19
1986     82
1987     01
1988     43
Name: 2P_attempted, Length: 1989, dtype: object

In [13]:
# some of the '3P' values were interpreted as dates by Excel, so this sets the ones that are dates to strings 
# that match the rest of the data
for i in range(1989):
    if type(df["3P"][i]) != str:
        y = str(df["3P"][i])
        three_p = y[5:10]
        df["3P"][i] = three_p

# function that sets the number of 3-pointers made to the first half of the string in the '3P' column
def set_3P_made(three_p):
    three_p_split = three_p.split('-')
    return three_p_split[0]  

# function that sets the number of 3-pointers attempted to the second half of the string in the '3P' column
def set_3P_attempted(three_p):
    three_p_split = three_p.split('-')
    return three_p_split[1] 

# applies the set_3P_made function to all values in the '3P' column and puts the results in a new
# column called '3P_made'
df["3P_made"] = df["3P"].apply(set_3P_made)
print(df["3P_made"])

# applies the set_3P_attempted function to all values in the '3P' column and puts the results in a new
# column called '3P_attempted'
df["3P_attempted"] = df["3P"].apply(set_3P_attempted)
print(df["3P_attempted"])

0       44-100
1       97-224
2        25-67
3       68-209
4        06-22
         ...
1984     05-16
1985    29-107
1986     01-21
1987     14-53
1988     04-21
Name: 3P, Length: 1989, dtype: object
0       44
1       97
2       25
3       68
4       06
        ..
1984    05
1985    29
1986    01
1987    14
1988    04
Name: 3P_made, Length: 1989, dtype: object
0       100
1       224
2        67
3       209
4        22
       ...
1984     16
1985    107
1986     21
1987     53
1988     21
Name: 3P_attempted, Length: 1989, dtype: object

In [20]:
# drops the columns that are no longer useful as the information has been moved into columns that are easier to
# work with
df = df.drop(['DUNKS', 'CLOSE 2', 'FAR 2', 'FT', '2P', '3P'], axis = 1)

In [21]:
# export dataframe as CSV
df_data = df.to_csv('PostBasketballStats.csv', index = True)

In [22]:
# export dataframe as Excel file
df_excel = df.to_excel('PostBasketballStats.xlsx', index = True)